* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(245, 245, 245);
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    margin-top: 50px;
    width: 935px;
}
/* main left & right */
.main-left,
.main-right {
    display: inline-block;
    vertical-align: top;
    text-align: center; 
}
.main-right div {
    margin-bottom: 15px;
}
.main-left{
    padding-top: 20px;
    margin-right: 30px;
    width: 48%;
}
.main-left img{
    width: 100%;
}
.main-right{
    width: 48%;
}
.sign-up,
.switch-page {
    background-color: white;
    border: 1px solid rgb(175, 174, 174, 0.4);
    padding: 50px;
}
/* sign up */
.sign-up p {
    color: #888;
}
.sign-up p:first-of-type {
    font-size: 19px;
    font-weight: bold;
    color: rgb(133, 133, 133);
}
.sign-up form input {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(245, 245, 245);
    margin-bottom: 6px;
    border: 1px solid rgb(212, 212, 212);
    padding: 10px;
}
.sign-up form input:last-of-type {
    color: white;
    background-color: rgba(0, 148, 246, 0.3);
    border: none;
    margin-top: 20px;
    border-radius: 5px;
}
.sign-up p a {
    color: #777;
    font-weight: bold;
}
/* switch page */
.switch-page {
    padding: 10px;
}
.switch-page a{
    color: rgb(0, 148, 246);
}

.download img {
    width:180px;
}
/* footer */
.footer{
    position: absolute;
    width: 750px;
    min-width: 100%;
    bottom: 0;
}
.footer div {
    text-align: center;
}
.footer a {
    color: #888;
    padding-right: 10px;
	font-size:14px;
}
.first-row{
    margin-bottom: 10px;
}
.second-row{
    margin-bottom: 40px;
}
